<!DOCTYPE html>
<html>
<head>
  <meta id="i18n_pagename" content="common"><!--！！！！！！！注意這行要有語系表i18n才可在專案中執行！！！！！！！！！！-->
  <title class="i18n" name="forget_password_title"></title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/Member_Log_in.css')}}">

</head>
<body>
  <h1 class="i18n" name="forget_password"></h1>
  <p class="err i18n" name="email_not_exist"></p>
  <form method="post" action="send_email">
    <label for="email_check" class="email_sccount"></label>
    <input type="text" id="email_check" name="email_check" required><br><br>
    <input type="submit" value="送出">
  </form>
  <p><a href="{{ url_for('db_homepage_login') }}" class="i18n" name="back"></a></p>
</body>
<script src="static/i18n/jquery.js"></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！！！！-->
<script src="static/i18n/jquery.i18n.properties.js.js"></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！！！！-->
<script src="static/i18n/third-party-function.js"></script></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！-->
</html>