<!DOCTYPE html>
<html>
<head>
  <meta id="i18n_pagename" content="common"><!--！！！！！！！注意這行要有語系表i18n才可在專案中執行！！！！！！！！！！-->
  <title class="i18n" name="IAML_Member_System"></title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/Member_Log_in.css')}}">

</head>
<body>
  <h1 class="i18n" name="IAML_Member_System"></h1>
  <form method="post" action="sign_in_check">
    <label for="account" class="i18n" name="account"></label>
    <p class="err i18n" name="no_account_found"></p>
    <input type="text" id="account" name="account" required><br><br>
    <label for="password" class="i18n" name="password"></label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="登入">
  </form>
  <div >
    <h3><a href="{{ url_for('DB.register') }}" class="i18n" name="press_here_to_register"></a></h3>
  </div>
  <div >
    <h3><a href="{{ url_for('DB.forget_password') }}" class="i18n inline" name="if_forget_password_press_me"></a></h3>
  </div>
</body>
<script src="static/i18n/jquery.js"></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！！！！-->
<script src="static/i18n/jquery.i18n.properties.js.js"></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！！！！-->
<script src="static/i18n/third-party-function.js"></script></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！-->
</html>

