<!DOCTYPE html>
<html>
<head>
  <meta id="i18n_pagename" content="common"><!--！！！！！！！注意這行要有語系表i18n才可在專案中執行！！！！！！！！！！-->
  <title class="i18n" name="sign_up"></title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/Member_sign_up.css')}}">
  <script src="static/js/password_check.js"></script>
</head>
<body>
  <h1 class="i18n" name="sign_up"></h1>
  <form method="post" action="user_sign_up">
    <label for="name" class="i18n" name="member_username"></label>
    <input type="text" id="name" name="username" required><br><br>

    <label for="account" class="i18n" name="member_account"></label>
    <input type="text" id="account" name="account" pattern="[A-Za-z0-9]+" required><br><br>

    <label for="password" class="i18n" name="member_password"></label>
    <input type="password" id="password" name="password" required><br><br>
    <!--230626新增可顯示密碼的功能-->
    <button id="toggleBtn" onclick="togglePasswordVisibility()" class="i18n" name="password_show"></button><br><br>

    <!--230626新增讓使用者再次輸入密碼-->
    <label for="password_double_check" class="i18n" name="password_double_check"></label>
    <input type="password" id="password2" name="password_double_check" required><br><br>
    <button id="toggleBtn2" onclick="togglePasswordVisibility2()" class="i18n" name="password_show"></button><br><br>

    <label for="email" class="i18n" name="member_email"></label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="department" class="i18n" name="member_department"></label>
    <input type="text" id="department" name="department" required><br><br>

    <input type="submit" value="送出">
  </form>
  <p><a href="{{ url_for('db_homepage_login') }}" class="i18n" name="back"></a></p>
</body>
<script src="static/i18n/jquery.js"></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！！！！-->
<script src="static/i18n/jquery.i18n.properties.js.js"></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！！！！-->
<script src="static/i18n/third-party-function.js"></script></script><!--！！！！！！！注意這行要出現在body標籤下面語系表i18n才可生效！！！！-->
</html>